<!DOCTYPE html>
<html>
	<head>
		<title>Dasbor | CrimeGIS</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/assets/css/w3.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/w3-theme.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="/assets/js/w3.js"></script>
	</head>
	
	<body class="color-base">

		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar color-accent w3-left-align">
				<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="showNav()"><i class="fa fa-bars"></i></a>
				<a href="/sudo" class="w3-bar-item w3-button font-great-lakes w3-theme-d2 w3-hover-theme-d2">CrimeGIS</a>
				
				<div class="w3-dropdown-click w3-hide-small w3-right">
					<button class="w3-button w3-hover-theme" title="Menu" onclick="showMenu()">
						<i class="fa fa-user-circle-o"></i>
					</button>     
					
					<div id="menu-dropdown" class="w3-dropdown-content w3-card-4 w3-bar-block w3-animate-opacity" style="right:0">
						<div class="w3-bar-item">
							<span class="bold">{{ session.namas }}</span> <br>
							<span class="w3-small">Super Administrator</span>
						</div>
						<a href="/sudo/pengaturan" class="w3-bar-item w3-button w3-hover-theme">Pengaturan</a>
						<a href="/sudo/bantuan" class="w3-bar-item w3-button w3-hover-theme">Bantuan</a>
						<a href="/sudo/logout" class="w3-bar-item w3-button w3-hover-theme">Logout</a>
					</div>
				</div>
				
				<a href="/sudo/user" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Administrasi User</a>
				<a href="/sudo/lokasi" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Administrasi Lokasi</a>
			</div>

			<!-- Navbar on small screens -->
			<div id="menu-small" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
				<a href="/sudo/pengaturan" class="w3-bar-item w3-button">Pengaturan</a>
				<a href="/sudo/bantuan" class="w3-bar-item w3-button">Bantuan</a>
				<a href="/sudo/logout" class="w3-bar-item w3-button">Logout</a>
			</div>
		</div>

		<!-- Fill top -->
		<div class="w3-display-container color-base" style="height:39px;position:relative">
			&nbsp;
		</div>
		
		<!-- Overall Information -->
		<div class="w3-display-container w3-row">
			<a href="/sudo/lokasi">
				<button class="w3-col l6 w3-theme-l1 w3-button w3-hover-theme w3-center w3-padding-64">
					<div class="w3-padding">
						<i class="fa fa-map-marker" style="font-size:24em"></i>
					</div>
					
					<div>
						<span id="jumlah-lokasi" class="w3-jumbo bold"></span> <span class="w3-xlarge">lokasi</span>
					</div>
				</button>
			</a>
			
			<a href="/sudo/user">
				<button class="w3-col l6 w3-theme-l1 w3-center w3-button w3-hover-theme w3-padding-64">
					<div class="w3-padding">
						<i class="fa fa-user" style="font-size:24em"></i>
					</div>
					
					<div>
						<span id="jumlah-user" class="w3-jumbo bold"></span> <span class="w3-xlarge">user</span>
					</div>
				</button>
			</a>
		</div>

		<!-- Features Container -->
		<div class="w3-container w3-padding-48 w3-center" id="features">
			<h2>Features</h2>
			<p>Daftar features yang digunakan untuk penghitungan</p>

			<div class="w3-row w3-padding"><br>

				<table id="data2-table-container" class="w3-table w3-margin-bottom w3-bordered w3-hoverable w3-striped" style="display:none">
					<thead class="w3-theme">
						<tr>
							<th style="width:10%">Rank.</th>
							<th style="width:80%">Nama Features</th>
							<th style="width:10%">Jumlah</th>
						</tr>
					</thead>
					
					<tbody id="tabel-features"></tbody>
				</table>
				
				<div class="w3-margin-bottom w3-theme-light w3-round w3-theme-light w3-card w3-padding-large w3-leftbar color-accent-border" id="data2-empty-container" style="display:none">
					<p style="text-align:left">Belum ada data. Klik <a href="/sudo/features/tambah">di sini</a> untuk menambahkan data baru.</p>
				</div>
				
				<a href="/sudo/lokasi">
					<button class="w3-button w3-margin w3-left color-accent w3-round color-accent-hover">
						Selengkapnya <i class="fa fa-arrow-circle-right" style="font-size:1em"></i>
					</button>
				</a>
				
				<a href="/sudo/lokasi/tambah">
					<button class="w3-button w3-margin w3-right w3-hover-theme w3-round w3-theme-d2">
						Tambahkan <i class="fa fa-plus-circle" style="font-size:1em"></i>
					</button>
				</a>
				
			</div>
		</div>

		<!-- User Akun Container -->
		<div class="w3-container w3-padding-48 w3-center w3-theme-l1" id="akun-user">
			<h2>Akun User</h2>
			<p>Akun user yang bertindak sebagai administrator</p>

			<div class="w3-row w3-padding"><br>

				<table class="w3-table w3-margin-bottom w3-bordered w3-hoverable w3-striped" id="data-table-container" style="display:none">
					<thead class="color-accent">
						<tr>
							<th style="width:10%">No.</th>
							<th style="width:70%">Nama</th>
							<th style="width:20%">NRP</th>
						</tr>
					</thead>
					
					<tbody class="w3-theme-light" id="tabel-user"></tbody>
				</table>
				
				<div class="w3-margin-bottom w3-theme-light w3-round w3-theme-light w3-card w3-padding-large w3-leftbar color-accent-border" id="data-empty-container" style="display:none">
					<p style="text-align:left">Belum ada data. Klik <a href="/sudo/user/tambah">di sini</a> untuk menambahkan data baru.</p>
				</div>

			</div>
			
			<div class="w3-row w3-padding">
				<a href="/sudo/user">
					<button class="w3-button w3-margin w3-left color-accent w3-round color-accent-hover">
						Selengkapnya <i class="fa fa-arrow-circle-right" style="font-size:1em"></i>
					</button>
				</a>
				
				<a href="/sudo/user/tambah">
					<button class="w3-button w3-margin w3-right w3-hover-theme w3-round w3-theme-d2">
						Tambahkan <i class="fa fa-plus-circle" style="font-size:1em"></i>
					</button>
				</a>
			</div>
		</div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 color-base w3-center">
			<p>2018 &copy; <b>CrimeGIS</b></p>
			<p class="w3-small">Template oleh <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
		</footer>

		<script>
			//~ API GET
			function getTotalUser() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						fillTotalUser(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/jumlah/user", true);
				xhttp.send();
			}
			
			function getTotalLokasi() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						fillTotalLokasi(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/jumlah/features", true);
				xhttp.send();
			}
			
			function getUserList() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						fillUserList(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/dashboard/user", true);
				xhttp.send();
			}
			
			function getFeaturesList() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						fillFeaturesList(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/dashboard/features", true);
				xhttp.send();
			}
			
			//~ Content filler
			function fillTotalUser(jumlah) {
				document.getElementById("jumlah-user").innerHTML = jumlah;
			}
			
			function fillTotalLokasi(jumlah) {
				document.getElementById("jumlah-lokasi").innerHTML = jumlah;
			}
			
			function fillUserList(data) {
				if(data.length > 0) {
					show('data-table-container');
					
					let userListParent = document.getElementById("tabel-user");
					let i = 1;
					
					// Isi data
					data.forEach(function(datum) {
						// Deklarasi elemen
						let userRow = document.createElement("tr");
						let noContainer = document.createElement("td");
						let namaContainer = document.createElement("td");
						let nrpContainer = document.createElement("td");
						let noText = document.createTextNode(i);
						let namaText = document.createTextNode(datum.nama);
						let nrpText = document.createTextNode(datum.username);
						
						// Gabungkan elemen
						noContainer.append(noText);
						namaContainer.append(namaText);
						nrpContainer.append(nrpText);
						userRow.append(noContainer);
						userRow.append(namaContainer);
						userRow.append(nrpContainer);
						userListParent.append(userRow);
						
						i++;
					});
				} else {
					showBlock('data-empty-container');
				}
			}
			
			function fillFeaturesList(data) {
				if(data.length > 0) {
					show('data2-table-container');
					
					let featuresListParent = document.getElementById("tabel-features");
					let rank = 1;
					
					// Isi data
					data.forEach(function(datum) {
						// Deklarasi elemen
						let featuresRow = document.createElement("tr");
						let rankContainer = document.createElement("td");
						let namaContainer = document.createElement("td");
						let jumlahContainer = document.createElement("td");
						let rankText = document.createTextNode(rank);
						let namaText = document.createTextNode(datum.jenis);
						let jumlahText = document.createTextNode(datum.jumlah + " lokasi");
						
						namaContainer.setAttribute("class", "capitalize");
						
						// Gabungkan elemen
						rankContainer.append(rankText);
						namaContainer.append(namaText);
						jumlahContainer.append(jumlahText);
						featuresRow.append(rankContainer);
						featuresRow.append(namaContainer);
						featuresRow.append(jumlahContainer);
						featuresListParent.append(featuresRow);
						
						rank++;
					});
				} else {
					showBlock('data2-empty-container');
				}
			}
			
			//~ Fungsi dari template
			function showNav() {
				var x = document.getElementById("menu-small");
				
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			function showMenu() {
				var x = document.getElementById("menu-dropdown");
				if (x.className.indexOf("w3-show") == -1) { 
					x.className += " w3-show";
				} else {
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			//~ Eksekusi fungsi
			getTotalUser();
			getTotalLokasi();
			getUserList();
			getFeaturesList();
		</script>

	</body>
</html>
