@font-face {
	font-family: opensans;
	src: url(../font/opensans.ttf);
}

@font-face {
	font-family: greatlakes;
	src: url(../font/GREALN__.ttf);
}

.font-great h1{
	font-family: greatlakes;
	color: white;
	font-size: 50px;
	z-index: 100;
	margin-top: 35px;
	padding-bottom: 25px;
}

.font-great-lakes {
	font-family: greatlakes;
}

body {
	font-family: opensans;
	height: 100%;
	margin: 0;
}

#map {
	height: 100%;
}

.color-base {
	background-color: #ecf0f1;
	color: #2c3e50;
}

.color-base-hover:hover {
	background-color: #ecf0f1 !important;
	color: #2c3e50 !important;
}

.color-base-text {
	color: #ecf0f1;
}

.color-base-border {
	border-color: #ecf0f1 !important;
}

.color-accent {
	background-color: #2c3e50;
	color: #ecf0f1;
}

.color-accent-hover:hover {
	background-color: #2c3e50 !important;
	color: #ecf0f1 !important;
}

.color-accent-text {
	color: #2c3e50;
}

.color-accent-border {
	border-color:#2c3e50 !important;
}

@media screen and (max-width: 600px){
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}

div.background {
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 150px;
	z-index: -100;
	width: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.cursor-default {
	cursor: default;
}

.bold {
	font-weight: 600;
}

.capitalize {
	text-transform: capitalize;
}

.padding-little-tb {
	padding: 8px 0px;
}

.paragraph {
  text-indent:50px;
  text-align: justify;
}

.img-paragraph {
  width: 100%;
  height: auto;
  margin: 10px 0;
}
