<!DOCTYPE html>
<html>
	<head>
		<title>Tambah Laporan | CrimeGIS</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/assets/css/w3.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/w3-theme.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="/assets/js/w3.js"></script>
	</head>
	
	<body class="color-base">

		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar color-accent w3-left-align">
				<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="showNav()"><i class="fa fa-bars"></i></a>
				<a href="/admin" class="w3-bar-item w3-button font-great-lakes w3-theme-d2 w3-hover-theme-d2">CrimeGIS</a>
				<a href="#" class="w3-bar-item w3-button font-great-lakes w3-theme-d1 w3-hover-theme-d1"><i class="fa fa-caret-right"></i></a>
				<a href="/admin/laporan" class="w3-bar-item w3-button w3-theme w3-hover-theme">Administrasi Laporan</a>
				<a href="#" class="w3-bar-item w3-button font-great-lakes w3-theme-d1 w3-hover-theme-d1"><i class="fa fa-caret-right"></i></a>
				<a href="#" class="w3-bar-item w3-button w3-theme w3-hover-theme">Tambah Laporan</a>
				
				<div class="w3-dropdown-click w3-hide-small w3-right">
					<button class="w3-button w3-hover-theme" title="Menu" onclick="showMenu()">
						<i class="fa fa-user-circle-o"></i>
					</button>
					
					<div id="menu-dropdown" class="w3-dropdown-content w3-card-4 w3-bar-block w3-animate-opacity" style="right:0">
						<div class="w3-bar-item">
							<span class="bold">{{ session.nama }}</span> <br>
							<span class="w3-small">Administrator</span>
						</div>
						<a href="/admin/pengaturan" class="w3-bar-item w3-button w3-hover-theme">Pengaturan</a>
						<a href="/admin/bantuan" class="w3-bar-item w3-button w3-hover-theme">Bantuan</a>
						<a href="/admin/logout" class="w3-bar-item w3-button w3-hover-theme">Logout</a>
					</div>
				</div>
				
				<a href="/admin/laporan" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Administrasi Laporan</a>
				<a href="/admin/hotspot" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Lihat Hotspot</a>
			</div>

			<!-- Navbar on small screens -->
			<div id="menu-small" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
				<a href="/admin/pengaturan" class="w3-bar-item w3-button">Pengaturan</a>
				<a href="/admin/bantuan" class="w3-bar-item w3-button">Bantuan</a>
				<a href="/admin/logout" class="w3-bar-item w3-button">Logout</a>
			</div>
		</div>
		
		<!-- Toolbar -->
		<div class="w3-row-padding w3-padding-16" id="container-top" style="margin-top: 48px">

			<div class="w3-col l1">
				&nbsp;
			</div>
			
			<div class="w3-col l1 w3-right">
				&nbsp;
			</div>
			
			<div class="w3-rest">
				<div class="w3-col l5">
					<div class="w3-border w3-round w3-border-theme w3-margin-right">
						<div class="w3-col w3-third w3-center w3-padding w3-theme">
							Jenis
						</div>
						
						<div class="w3-row w3-rest cursor-pointer" onclick="showBlock('modal-kriminalitas')">
							<div class="w3-col l2 w3-right w3-padding w3-center">
								<i class="fa fa-caret-down"></i>
							</div>
							
							<div class="w3-rest w3-padding" id="status-jenis-kriminalitas" style="text-transform: capitalize"></div>
						</div>
					</div>
				</div>
				
				<div class="w3-col l5 w3-right w3-round">
					<div class="w3-border w3-round w3-border-theme w3-margin-left">
						<div class="w3-col l1 w3-right">
							<label for="cari-lokasi" class="cursor-pointer w3-right w3-padding">
								<i class="fa fa-search w3-small"></i>
							</label>
						</div>
						
						<div class="w3-row w3-rest w3-margin-left">
							<input type="search" id="cari-lokasi" class="w3-input w3-border-0 color-base" placeholder="Cari mis. Universitas Kehidupan">
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Toolbar end -->
		
		<!-- Edit form -->
		<div id="input-form" class="w3-row-padding w3-animate-opacity" style="display:none">
			<div class="w3-col l1 w3-left">
				&nbsp;
			</div>
			
			<div class="w3-col l1 w3-right">
				&nbsp;
			</div>
			
			<div class="w3-rest w3-margin-bottom">
				<div class="w3-border w3-round w3-white w3-padding-large">
					<i class="fa fa-close w3-right cursor-pointer color-accent-text" onclick="keluarInput()"></i>
					
					<label for="waktu-input" class="w3-label bold color-accent-text">Waktu Kejadian</label> <br>
					<input type="time" class="w3-input" id="waktu-input"> <br>
					
					<label for="tanggal-input" class="w3-label bold color-accent-text">Tanggal Kejadian</label> <br>
					<input type="date" class="w3-input" id="tanggal-input"> <br>
					
					<input type="hidden" class="w3-input" id="lokasi">
					
					<div class="w3-row">
						<a href="#" class="w3-button w3-blue w3-round w3-right w3-margin-top" onclick="simpan()" id="tombol-simpan">Simpan</a>
						<a href="#" class="w3-button w3-red w3-round w3-right w3-margin-top w3-margin-right" id="tombol-batal" onclick="keluarInput()">Batal</a>
						<i class="fa fa-refresh w3-spin w3-right w3-margin-top w3-padding" style="font-size:18px;display:none" id="loading-simpan"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- Edit form end -->
		
		<!-- Notifikasi -->
		<div id="notif-gagal" class="w3-row-padding w3-animate-opacity" style="display:none">
			<div class="w3-col l1 w3-left">
				&nbsp;
			</div>
			
			<div class="w3-col l1 w3-right">
				&nbsp;
			</div>
			
			<div class="w3-rest w3-margin-bottom">
				<div class="w3-round w3-red w3-padding cursor-pointer" onclick="hideNotif(this)">
					<p>Terjadi kesalahan, coba lagi nanti.</p>
				</div>
			</div>
		</div>
		<!-- Notifikasi end -->

		<!-- Map -->
		<div id="container-map" class="w3-row-padding w3-margin-bottom">
			
			<div class="w3-col l1">
				&nbsp;
			</div>
			
			<div class="w3-col l1 w3-right">
				&nbsp;
			</div>
			
			<div id="map" class="w3-rest w3-round" style="height:500px"></div>

		</div>
		
		<br>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 color-base w3-center">
			<p>2018 &copy; <b>CrimeGIS</b></p>
			<p class="w3-small">Template oleh <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>, icons oleh <a href="https://www.flaticon.com/" target="_blank">flaticon.com</a></p>
		</footer>
		
		<!-- Modals -->
		<div id="modal-kriminalitas" class="w3-modal">
			<div class="w3-modal-content w3-animate-zoom">
				<div class="container w3-round w3-col l2 w3-left">
					&nbsp;
				</div>
				
				<div class="container w3-round w3-col l2 w3-right">
					&nbsp;
				</div>
				
				<div class="container w3-theme w3-col l8 w3-round w3-card-4">
					<header class="w3-row w3-padding">
						<div
							class="w3-red w3-col l1 w3-right w3-round w3-center w3-padding cursor-pointer"
							onclick="hide('modal-kriminalitas')">
							
							<i class="fa fa-close"></i>
						</div>
						
						<div class="w3-rest bold padding-little-tb">
							Pilih Jenis Kriminalitas
						</div>
					</header>
					
					<!-- Pilihan Kriminalitas -->
					
					<div id="daftar-kriminalitas"></div>
					
					<!-- Pilihan Kriminalitas End -->
					
					<footer class="w3-row" style="height:5px">
						&nbsp;
					</footer>
				</div>
			</div>
		</div>
			
		<div id="modal-luar-jangkauan" class="w3-modal">
			<div class="w3-modal-content w3-animate-zoom">
				<div class="container w3-round w3-col l2 w3-left">
					&nbsp;
				</div>
				
				<div class="container w3-round w3-col l2 w3-right">
					&nbsp;
				</div>
				
				<div class="container w3-red w3-col l8 w3-round w3-card-4">
					<div id="info-hapus-features" class="w3-white w3-container w3-padding-large w3-round">
						<i class="fa fa-close w3-right cursor-pointer" onclick="hide('modal-luar-jangkauan')"></i>
						<p class="bold">Lokasi di Luar Jangkauan!</p>
						
						<p>Lokasi yang ingin Anda periksa berada di luar wilayah pengawasan Polres Pelabuhan Tanjung Perak. Silahkan coba lokasi lain.</p>
						<p><b>Tips:</b> Pilih hanya lokasi yang berada di dalam garis batas berwarna hijau.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Modals end -->

		<script>
			//~ Deklarasi variabel
			let map;
			let markers = [];
			let iconAktif = "/assets/icons/default.png";
			let jenisAktif = "";
			let idJenisAktif = 1;
			let inputWaktu = document.getElementById("waktu-input");
			let inputTanggal = document.getElementById("tanggal-input");
			let tombolSimpan = document.getElementById('tombol-simpan');
			let tombolBatal = document.getElementById('tombol-batal');
			
			//~ API POST
			function postLaporan(data) {
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function() {
					if(this.readyState == 4 && this.status == 200) {
						if(JSON.parse(this.responseText)) {
							window.open('sukses', '_self');
						}
					}
				};
				
				xhr.open("POST", "/api/laporan-kriminal", true);
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.send(JSON.stringify(data));
			}
			
			//~ API GET
			function getJenisKriminalitas() {
				let xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function() {
					if(this.readyState == 4 && this.status == 200) {
						fillJenisKriminalitas(JSON.parse(this.responseText));
					}
				};
				
				xhr.open("GET", "/api/jenis-kriminalitas", true);
				xhr.send();
			}
			
			function getVerifikasiWilayah(sumber, jenis="click") {
				let xhttp = new XMLHttpRequest();
				let latToMark;
				let lngToMark;
				let lokasi;
				
				if(jenis == "click") {
					latToMark = sumber.latLng.lat();
					lngToMark = sumber.latLng.lng();
				} else if(jenis == "search") {
					let latLngToMark = [];
					sumber = sumber.toString().replace("(", "").replace(")", "");
					latLngToMark = sumber.split(", ");
					latToMark = parseFloat(latLngToMark[0]);
					lngToMark = parseFloat(latLngToMark[1]);
				} else if(jenis == "pilihjenis") {
					let latLngToMark = [];
					latLngToMark = sumber.split(" ");
					latToMark = parseFloat(latLngToMark[1]);
					lngToMark = parseFloat(latLngToMark[0]);
				}
				
				lokasi = "POINT(" + lngToMark + " " + latToMark + ")";

				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						if(JSON.parse(this.responseText)) {
							markThis(lokasi);
						} else {
							showBlock("modal-luar-jangkauan");
						}
					}
				};

				xhttp.open("GET", "/api/cek-wilayah-kerja?lokasi=" + lokasi, true);
				xhttp.send();
			}
			
			function getWilayahKerja() {
				let xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						fillWilayahKerja(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/wilayah-kerja", true);
				xhttp.send();
			}
			
			//~ Content filler
			function fillLatLng(lat, lng) {
				document.getElementById("lokasi").value = lng + " " + lat;
			}
			
			function fillWilayahKerja(data) {
				data.forEach(function(datum) {
					let edges = datum.area.replace("MULTIPOLYGON(((","").replace(")))","").split(",");
					let area = [];
					
					edges.forEach(function(edge) {
						edgePoint = edge.split(" ");
						latLng = {
							lat: parseFloat(edgePoint[1]),
							lng: parseFloat(edgePoint[0])
						};
						
						area.push(latLng);
					});
					
					console.log(area);
					
					var wilayah = new google.maps.Polygon({
						map: map,
						paths: [area, area.reverse()],
						strokeColor: '#00FF00',
						strokeOpacity: 1,
						strokeWeight: 0.3,
						fillOpacity: 0.0
					});
				});
			}
			
			function fillJenisKriminalitas(data) {
				let i, mainContainer, contentContainer, iconContainer, textContainer, text, icon;
				let parentContainer = document.getElementById("daftar-kriminalitas");
				
				data.forEach(function(datum) {
					//~ Inisialisasi element
					mainContainer = document.createElement("div");
					contentContainer = document.createElement("div");
					iconContainer = document.createElement("div");
					textContainer = document.createElement("div");
					icon = document.createElement("img");
					text = document.createTextNode(datum.jenis);
					
					//~ Isi konten elemen
					mainContainer.setAttribute("class", "w3-row color-base w3-border-bottom cursor-pointer w3-hover-theme-light");
					contentContainer.setAttribute("class", "w3-row w3-padding-16");
					iconContainer.setAttribute("class", "w3-center w3-col l2");
					textContainer.setAttribute("class", "w3-rest w3-padding w3-large capitalize");
					mainContainer.setAttribute("id", "jk" + datum.id);
					icon.setAttribute("src", "/assets/icons/" + datum.jenis.replace(" ","") + ".png");
					mainContainer.setAttribute("onclick", "pilihKriminalitas(this.id)");
					
					//~ Gabungkan elemen
					parentContainer.appendChild(mainContainer);
					mainContainer.appendChild(contentContainer);
					contentContainer.appendChild(iconContainer);
					contentContainer.appendChild(textContainer);
					iconContainer.appendChild(icon);
					textContainer.appendChild(text);
				});
					
				pilihKriminalitas("jk" + data[0].id);
			}
			
			//~ Content resetter
			
			//~ Data generator
			function markThis(sumber) {
				let latLngToMark = [];
				sumber = sumber.toString().replace("POINT(", "").replace(")", "");
				latLngToMark = sumber.split(" ");
				latToMark = parseFloat(latLngToMark[1]);
				lngToMark = parseFloat(latLngToMark[0]);
				koordinat = {
					lat: latToMark,
					lng: lngToMark
				}
				
				show("input-form");
				setMapOnAll(null);
				
				var marker = new google.maps.Marker({
					position: koordinat,
					map: map,
					icon: iconAktif
				});
				
				fillLatLng(latToMark, lngToMark);
				markers.push(marker);
			}
			
			function simpan() {
				let lokasiText = "POINT(" + document.getElementById("lokasi").value + ")";
				let tanggalText = document.getElementById("tanggal-input").value;
				let waktuText = document.getElementById("waktu-input").value;
				
				let JSONObject = {
					"idJenisKriminalitas" : jenisAktif.replace("jk",""),
					"idPelapor" : {{ session.ida }},
					"lokasi" : lokasiText,
					"waktuKejadian" : tanggalText + " " + waktuText
				};
				
				inputWaktu.classList.add("cursor-not-allowed","w3-text-gray","color-base");
				inputTanggal.classList.add("cursor-not-allowed","w3-text-gray","color-base");
				tombolSimpan.classList.remove("w3-blue");
				tombolBatal.classList.remove("w3-red");
				tombolSimpan.classList.add("w3-light-grey","w3-hover-light-grey","cursor-not-allowed");
				tombolBatal.classList.add("w3-light-grey","w3-hover-light-grey","cursor-not-allowed");
				showBlock('loading-simpan');
				postLaporan(JSONObject);
			}
			
			//~ Fungsi dari template
			function showNav() {
				var x = document.getElementById("menu-small");
				
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			function showMenu() {
				var x = document.getElementById("menu-dropdown");
				if (x.className.indexOf("w3-show") == -1) { 
					x.className += " w3-show";
				} else {
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			//~ Fungsi untuk map
			function initMap(zoomSize=12.5,lat=-7.199661,lang=112.734026) {
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: lat, lng: lang},
					zoom: zoomSize
				});
				
				//~ Fungsi pencarian lokasi
				let searchInput = /** @type {!HTMLInputElement} */(document.getElementById('cari-lokasi'));
				let autocomplete = new google.maps.places.Autocomplete(searchInput);
				let infowindow = new google.maps.InfoWindow();
				let marker = new google.maps.Marker({
					map: map,
					anchorPoint: new google.maps.Point(0, -29)
				});
				
				autocomplete.bindTo('bounds', map);
				
				autocomplete.addListener('place_changed', function() {
					infowindow.close();
					marker.setVisible(false);
					
					var place = autocomplete.getPlace();
					
					if (!place.geometry) {
						window.alert("Lokasi yang berhubungan dengan '" + place.name + "' tidak ditemukan");
						return;
					}

					if (place.geometry.viewport) {
						map.fitBounds(place.geometry.viewport);
					} else {
						map.setCenter(place.geometry.location);
						map.setZoom(17); 
					}
					
					getVerifikasiWilayah(place.geometry.location, "search");
				});
				
				map.addListener('click', function(event) {
					getVerifikasiWilayah(event, "click");
				});
				
				markers.push(marker);
			}
			
			function setMapOnAll(map) {
				for (var i = 0; i < markers.length; i++) {
					markers[i].setMap(map);
				}
			}
			
			//~ Fungsi lain
			function pilihKriminalitas(id) {
				if(jenisAktif != "") {
					document.getElementById(jenisAktif).classList.remove("w3-theme-light");
				}
				
				jenisAktif = id;
				let textKriminalitasContainer = document.getElementById("status-jenis-kriminalitas");
				let textKriminalitas = document.getElementById(id).firstChild.childNodes[1].innerHTML;
				textKriminalitasContainer.innerHTML = textKriminalitas;
				
				iconAktif = "/assets/icons/" + textKriminalitas + ".png";
				let koordinat = document.getElementById("lokasi").value;
				
				if(koordinat != "") {
					getVerifikasiWilayah(koordinat, "pilihjenis");
				}
				
				document.getElementById(jenisAktif).classList.add("w3-theme-light");
				hide("modal-kriminalitas");
			}
			
			function keluarInput() {
				document.getElementById("cari-lokasi").value = "";
				document.getElementById("lokasi").value = "";
				inputWaktu.value = "";
				inputTanggal.value = "";
				
				hide('loading-simpan');
				hide("input-form");
				setMapOnAll(null);
				inputWaktu.classList.remove("cursor-not-allowed","w3-text-gray","color-base");
				inputTanggal.classList.remove("cursor-not-allowed","w3-text-gray","color-base");
				tombolSimpan.classList.remove("w3-light-grey","w3-hover-light-grey","cursor-not-allowed");
				tombolBatal.classList.remove("w3-light-grey","w3-hover-light-grey","cursor-not-allowed");
				tombolSimpan.classList.add("w3-blue");
				tombolBatal.classList.add("w3-red");
			}
			
			//Eksekusi fungsi
			window.onload = function() {
				getWilayahKerja();
				getJenisKriminalitas();
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1YoEDpogXBPgONR9pcvWnasi2-gpmeDk&libraries=places&callback=initMap"></script>

	</body>
</html>
