<!DOCTYPE html>
<html>
	<head>
		<title>Bantuan | CrimeGIS</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/assets/css/w3.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/w3-theme.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<body class="color-base">
		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar color-accent w3-left-align">
				<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="showNav()"><i class="fa fa-bars"></i></a>
				<a href="/admin" class="w3-bar-item w3-button font-great-lakes w3-theme-d2 w3-hover-theme-d2">CrimeGIS</a>
        <a href="#" class="w3-bar-item w3-button font-great-lakes w3-theme-d1 w3-hover-theme-d1"><i class="fa fa-caret-right"></i></a>
				<a href="#" class="w3-bar-item w3-button w3-theme w3-hover-theme">Bantuan</a>
				
				<div class="w3-dropdown-click w3-hide-small w3-right">
					<button class="w3-button w3-hover-theme" title="Menu" onclick="showMenu()">
						<i class="fa fa-user-circle-o"></i>
					</button>     
					
					<div id="menu-dropdown" class="w3-dropdown-content w3-card-4 w3-bar-block w3-animate-opacity" style="right:0">
						<div class="w3-bar-item">
							<span class="bold">{{ session.nama }}</span> <br>
							<span class="w3-small">Administrator</span>
						</div>
						<a href="/admin/pengaturan" class="w3-bar-item w3-button w3-hover-theme">Pengaturan</a>
						<a href="/admin/bantuan" class="w3-bar-item w3-button w3-hover-theme">Bantuan</a>
						<a href="/admin/logout" class="w3-bar-item w3-button w3-hover-theme">Logout</a>
					</div>
				</div>
				
				<a href="/admin/laporan" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Administrasi Laporan</a>
				<a href="/admin/hotspot" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Lihat Hotspot</a>
			</div>

			<!-- Navbar on small screens -->
			<div id="menu-small" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
				<a href="/admin/pengaturan" class="w3-bar-item w3-button">Pengaturan</a>
				<a href="/admin/bantuan" class="w3-bar-item w3-button">Bantuan</a>
				<a href="/admin/logout" class="w3-bar-item w3-button">Logout</a>
			</div>
		</div>
    <!-- Navbar end -->
    
    <!-- Content -->
		<div class="w3-row-padding w3-padding-16" id="toolbar-view" style="margin-top: 48px">

			<div class="w3-col l1">
				&nbsp;
			</div>
			
			<div class="w3-col l1 w3-right">
				&nbsp;
			</div>
			
			<div class="w3-rest">
        <!-- Main title -->
				<h1 class="w3-center">Petunjuk Penggunaan CrimeGIS</h1>
        <!-- Main title end -->
        
        <br>
        
        <!-- Content -->
        <img src="/assets/img/help/admin/0.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas</p>
        
        <ol>
          <ol>
          <li class="bold">Menu Bar</li>
          <p>Bagian ini berisi navigasi utama dari aplikasi ini.</p>
          
          <li class="bold">Fitur Utama</li>
          <p>Bagian ini menampilkan ringkasan status fitur utama dari
          aplikasi ini.</p>
          
          <li class="bold">Ringkasan Heatmap dan Hotspot</li>
          <p>Bagian ini menampilkan ringkasan dari fitur heatmap dan
          hotspot. Data yang ditampilkan adalah visualisasi dari peta
          kriminalitas tanpa filter apa pun.</p>
          
          <li class="bold">Ringkasan Laporan Kriminalitas</li>
          <p>Bagian ini menampilkan ringkasan dari fitur administrasi
          laporan kriminal. Data yang ditampilkan adalah lima
          laporan kriminal yang terakhir ditambahkan.</p>
          
          <li class="bold">Footer</li>
          <p>Bagian ini menampilkan identitas singkat dari aplikasi.</p>
        </ol>
        
        <br>
        
				<h2 class="w3-xlarge w3-border-bottom">Daftar Isi</h2>
        
        <ol>
          <li><a href="#judul1">Fitur Administrasi Laporan Kriminalitas</a></li>
          <ol type="a">
            <li><a href="#judul1sub1">Cara Melihat Daftar Laporan Kriminalitas</a></li>
            <li><a href="#judul1sub2">Cara Menambahkan Laporan Kriminalitas</a></li>
            <li><a href="#judul1sub3">Cara Mengubah Laporan Kriminalitas</a></li>
            <li><a href="#judul1sub4">Cara Menghapus Laporan Kriminalitas</a></li>
          </ol>
          
          <li><a href="#judul2">Fitur Hotspot</a></li>
          <ol type="a">
            <li><a href="#judul2sub1">Cara Melakukan Pem-filter-an Hasil</a></li>
          </ol>
          
          <li><a href="#judul3">Fitur Crime Meter</a></li>
          
          <li><a href="#judul4">Fitur Pengaturan</a></li>
        </ol>
        
        <br>
        
				<h2 class="w3-xlarge w3-border-bottom" id="judul1">1. Fitur Administrasi Laporan Kriminalitas</h2>
        <p class="paragraph">Fitur ini digunakan untuk melakukan
        administrasi laporan kriminal. Cara menuju fitur ini adalah dengan
        memilih 'Administrasi Laporan' pada Menu Bar.</p>
        
        <h3 class="w3-large" id="judul1sub1">a. Cara Melihat Daftar Laporan Kriminalitas</h3>
        <p class="paragraph">Daftar laporan kriminalitas bisa dilihat
        dengan membuka fitur administrasi lapora kriminalitas. Berikut adalah
        tampilannya</p>
        
        <img src="/assets/img/help/admin/1a.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas</p>
        
        <ol>
          <li class="bold">Filter Peng-input Data</li>
          <p>Bagian ini digunakan untuk menyaring data yang ditampilkan
          berdasarkan peng-input data. Di dalamnya terdapat empat
          pilihan, yaitu semua, saya, masyarakat, dan administartor.</p>
          
          <li class="bold">Filter Jenis Kriminalitas</li>
          <p>Bagian ini digunakan untuk menyaring data yang ditampilkan
          berdasarkan jenis kriminalitas. Di dalamnya terdapat empat
          pilihan, yaitu semua, curanmor, penganiayaan, dan
          pemerkosaan.</p>
          
          <li class="bold">Jumlah Data</li>
          <p>Bagian ini menampilkan total data yang sesuai dengan
          kriteria sesuai filter.</p>
          
          <li class="bold">Kotak Pencarian</li>
          <p>Bagian ini digunakan untuk melakukan pencarian
          laporan pencarian berdasarkan kata-kata atau huruf yang
          terkandung di dalamnya.</p>
          
          <li class="bold">Tombol Download Laporan</li>
          <p>Tombol ini digunakan untuk mengunduh seluruh laporan
          kriminal yang berada dalam server dalam format *.csv.</p>
          
          <li class="bold">Area Map</li>
          <p>Bagian ini merupakan daerah data-data lokasi features yang
          ada di tabel data ditampilkan dalam bentuk peta.</p>
          
          <li class="bold">Icon Marker Features</li>
          <p>Icon ini merupakan versi lokasi pada map dari daftar
          features yang ada pada tabel data.</p>
          
          <li class="bold">Tombol Tambah</li>
          <p>Tombol ini bisa digunakan untuk menambahkan data
          laporan kriminal baru. Apabila diklik, tampilan akan dialihkan
          ke halaman untuk memasukkan data laporan kriminal baru.</p>
          
          <li class="bold">Tabel Data</li>
          <p>Bagian ini menampilkan daftar data laporan kriminal yang
          tersimpan di server. Data yang ditampilkan dibagi menjadi
          beberapa halaman yang mana per halaman terdiri dari
          10 data. Data yang ditampilkan adalah yang sesuai dengan
          filter yang diterapkan.</p>
          
          <li class="bold">Tombol Edit</li>
          <p>Tombol ini bisa digunakan untuk mengubah data laporan
          kriminal pada baris di mana tombol tersebut berada.</p>
          
          <li class="bold">Tombol Hapus</li>
          <p>Tombol ini bisa digunakan untuk menghapus data laporan
          kriminal pada baris di mana tombol tersebut berada.</p>
          
          <li class="bold">Tombol Halaman Sebelumnya</li>
          <p>Tombol ini bisa digunakan untuk menuju ke halaman
          sebelumnya dari halaman yang sedang aktif sekarang.</p>
          
          <li class="bold">Status Halaman</li>
          <p>Bagian ini menampilkan status halaman terkini sedang berada
          di halaman berapa dan ada berapa halaman maksimal. Apabila
          diklik, akan memunculkan dialog untuk menuju ke halaman
          tertentu.</p>
          
          <li class="bold">Tombol Halaman Selanjutnya</li>
          <p>Tombol ini bisa digunakan untuk menuju ke halaman
          selanjutnya dari halaman yang sedang aktif sekarang.</p>
        </ol>
        
        <p class="paragraph">Apabila diperlukan, filter, kotak
        pencarian, dan fungsi untuk berpindah halaman data bisa
        digunakan. Selain itu, apabila ingin melihat data secara
        keseluruhan, data bisa diunduh menggunakan tombol berwarna hijau
        pada pojok kanan atas.</p>
        
        <h3 class="w3-large" id="judul1sub2">b. Cara Menambahkan Laporan Kriminalitas</h3>
        <p class="paragraph">Menambahkan laporan kriminal baru bisa
        dilakukan dengan mengeklik tombol tambah yang berada pada pojok
        kanan bawah halaman administrasi laporan kriminal. Tindakan
        tersebut akan membuka halaman 'Tambah Laporan'. Berikut adalah
        tampilannya.</p>
        
        <img src="/assets/img/help/admin/1b.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas</p>
        
        <ol>
          <li class="bold">Filter Jenis Kriminalitas</li>
          <p>Bagian ini digunakan untuk menentukan jenis kriminalitas
          yang diberikan kepada laporan kriminal yang akan
          ditambahkan.</p>
          
          <li class="bold">Kotak Pencarian</li>
          <p>Bagian ini digunakan untuk mencari lokasi berdasarkan
          namanya. Cara menggunakannya adalah dengan mengetikkan nama
          atau beberapa huruf yang berhubungan dengan lokasi yang
          dicari, kemudian tekan tombol 'Enter'. Tindakan tersebut akan
          menghasilkan hasil yang sama dengan ketika map diklik, yaitu
          icon marker lokasi yang sesuai dengan jenis lokasi ditampilkan
          di map dan form untuk memasukkan identitas features terlihat.
          Perbedaannya adalah ketika menggunakan kotak pencarian, nama
          dari lokasi otomatis terisi sesuai dengan data yang didapatkan
          dari Google Maps.</p>
          
          <li class="bold">Tombol Close</li>
          <p>Tombol ini digunakan untuk menutup/menyembunyikan form
          input data features yang akan dimasukkan.</p>
          
          <li class="bold">Input Waktu Kejadian</li>
          <p>Bagian ini digunakan untuk meng-input-kan waktu kejadian
          kriminal yang dilaporkan.</p>
          
          <li class="bold">Input Tanggal Kejadian</li>
          <p>Bagian ini digunakan untuk meng-input-kan tanggal kejadian
          kriminal yang dilaporkan.</p>
          
          <li class="bold">Tombol Batal</li>
          <p>Tombol ini memiliki fungsi yang sama dengan tombol close,
          yaitu untuk menutup/menyembunyikan form input data laporan
          yang akan dimasukkan.</p>
          
          <li class="bold">Tombol Simpan</li>
          <p>Tombol ini digunakan untuk menyimpan data laporan baru ke
          dalam server.</p>
          
          <li class="bold">Map</li>
          <p>Bagian ini merupakan bentuk visual berupa map dari lokasi
          yang akan dimasukkan. Apabila suatu lokasi pada map diklik,
          maka sesuatu yang sama dengan ketika pencarian dilakukan pada
          kotak pencarian akan muncul, yaitu form input rincian tentang
          laporan yang akan dimasukkan dan icon marker lokasi yang akan
          dimasukkan.</p>
          
          <li class="bold">Icon Marker</li>
          <p>Icon ini merupakan visualisasi lokasi tepat dari laporan
          yang akan dimasukkan. Gambar pada icon menyesuaikan dengan
          jenis kriminalitas yang terpilih.</p>
        </ol>
        
        <p class="paragraph">Setelah semua data telah dimasukkan dengan
        benar, tombol simpan bisa diklik untuk menyimpan data yang
        telah diketikkan ke dalam server. Apabila proses berhasil, akan
        muncul dialog status bahwa operasi berhasil dilakukan.</p>
        
        <h3 class="w3-large" id="judul1sub3">c. Cara Mengubah Laporan Kriminalitas</h3>
        <p class="paragraph">Mengubah data laporan kriminalitas yang
        telah tersimpan bisa dilakukan dengan mengeklik tombol edit yang
        berada pada sebelah kanan berwarna hijau yang berada pada
        masing-masing baris dari tabel data laporan kriminalitas.
        Tindakan tersebut akan memicu munculnya form edit laporan
        kriminalitas. Berikut adalah tampilannya.</p>
        
        <img src="/assets/img/help/admin/1c.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas.</p>
        
        <ol>
          <li class="bold">Filter Jenis Kriminalitas</li>
          <p>Bagian ini digunakan untuk menentukan jenis kriminalitas
          yang diberikan kepada laporan kriminal yang akan
          ditambahkan.</p>
          
          <li class="bold">Kotak Pencarian</li>
          <p>Bagian ini digunakan untuk mencari lokasi berdasarkan
          namanya. Cara menggunakannya adalah dengan mengetikkan nama
          atau beberapa huruf yang berhubungan dengan lokasi yang
          dicari, kemudian tekan tombol 'Enter'. Tindakan tersebut akan
          menghasilkan hasil yang sama dengan ketika map diklik, yaitu
          icon marker lokasi yang sesuai dengan jenis lokasi ditampilkan
          di map dan form untuk memasukkan identitas features terlihat.
          Perbedaannya adalah ketika menggunakan kotak pencarian, nama
          dari lokasi otomatis terisi sesuai dengan data yang didapatkan
          dari Google Maps.</p>
          
          <li class="bold">Tombol Close</li>
          <p>Tombol ini digunakan untuk menutup/menyembunyikan form
          input data features yang akan diubah.</p>
          
          <li class="bold">Input Waktu Kejadian</li>
          <p>Bagian ini digunakan untuk meng-input-kan waktu kejadian
          kriminal yang dilaporkan.</p>
          
          <li class="bold">Input Tanggal Kejadian</li>
          <p>Bagian ini digunakan untuk meng-input-kan tanggal kejadian
          kriminal yang dilaporkan.</p>
          
          <li class="bold">Tombol Batal</li>
          <p>Tombol ini memiliki fungsi yang sama dengan tombol close,
          yaitu untuk menutup/menyembunyikan form input data laporan
          yang akan dimasukkan.</p>
          
          <li class="bold">Tombol Simpan</li>
          <p>Tombol ini digunakan untuk menyimpan data laporan baru ke
          dalam server.</p>
          
          <li class="bold">Map</li>
          <p>Bagian ini merupakan bentuk visual berupa map dari lokasi
          yang akan dimasukkan. Apabila suatu lokasi pada map diklik,
          maka sesuatu yang sama dengan ketika pencarian dilakukan pada
          kotak pencarian akan muncul, yaitu form input rincian tentang
          laporan yang akan dimasukkan dan icon marker lokasi yang akan
          dimasukkan.</p>
          
          <li class="bold">Icon Marker</li>
          <p>Icon ini merupakan visualisasi lokasi tepat dari laporan
          yang akan dimasukkan. Gambar pada icon menyesuaikan dengan
          jenis kriminalitas yang terpilih.</p>
          
          <li class="bold">Tabel Data</li>
          <p>Bagian ini menampilkan daftar data laporan kriminal yang
          tersimpan di server. Data yang ditampilkan dibagi menjadi
          beberapa halaman yang mana per halaman terdiri dari
          10 data. Data yang ditampilkan adalah yang sesuai dengan
          filter yang diterapkan. Baris yang berwarna biru adalah
          laporan yang sedang di-edit.</p>
          
          <li class="bold">Tombol Edit</li>
          <p>Tombol ini bisa digunakan untuk mengubah data laporan
          kriminal pada baris di mana tombol tersebut berada. Apabila
          tombol pada baris yang sedang tidak aktif diklik, laporan
          yang sedang diedit otomatis berubah ke baris yang baru saja
          diklik. Namun, apabila yang diklik adalah yang sedang aktif,
          fitur edit otomatis tertutup.</p>
        </ol>
        
        <p class="paragraph">Setelah semua data telah dimasukkan dengan
        benar, tombol simpan bisa digunakan untuk menyimpan data yang
        telah diketikkan ke dalam server. Apabila proses berhasil, akan
        muncul dialog status bahwa operasi berhasil dilakukan.</p>
        
        <h3 class="w3-large" id="judul1sub4">d. Cara Menghapus Laporan Kriminalitas</h3>
        <p class="paragraph">Laporan Kriminal bisa dihapus dengan
        menekan tombol hapus berwarna merah pada baris data yang ingin
        dihapus. Meskipun begitu, laporan yang bisa dihapus hanyalah
        laporan yang dimasukkan oleh user yang akan menghapus tersebut
        dan laporan yang didapatkan dari masyarakat. Setelah tombol
        hapus ditekan, akan muncul modal konfirmasi penghapusan laporan.
        Berikut adalah tampilannya</p>
        
        <img src="/assets/img/help/admin/1d.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas</p>
        
        <ol>
          <li class="bold">Modal Dialog Konfirmasi</li>
          <p>Modal ini muncul ketika tombol hapus pada suatu baris
          laporan ditekan. Modal ini menampilkan dialog yang memastikan
          apakah Anda benar-benar ingin menghapus laporan tersebut.</p>
          
          <li class="bold">Tombol Batal</li>
          <p>Tombol ini digunakan untuk menutup kotak modal untuk
          menghapus laporan kriminalitas.</p>
          
          <li class="bold">Tombol Konfirmasi Hapus</li>
          <p>Tombol ini digunakan untuk mengonfirmasi penghapusan
          laporan kriminalitas.</p>
        </ol>
        
        <p class="paragraph">Apabila sudah merasa yakin data benar-benar
        perlu dihapus, tombol konfirmasi hapus bisa ditekan. Jika proses
        penghapusan berhasil, akan muncul kotak yang menyatakan bahwa
        data berhasil dihapus.</p>
        
        <br>
        
				<h2 class="w3-xlarge w3-border-bottom" id="judul2">2. Fitur <i>Hotspot</i></h2>
        <p class="paragraph">Fitur ini digunakan untuk memantau daerah
        yang rawan terhadap tindak kriminalitas. Cara menuju fitur ini
        adalah dengan memilih 'Lihat Hotspot' pada Menu Bar. Secara
        default, fitur hotspot aktif saat halaman ini pertama kali
        dibuka. Apabila ada suatu interaksi yang mengakibatkan fitur ini
        mati pada halaman ini, cara mengaktifkannya kembali adalah
        dengan mengeklik icon bulat berlapis yang ada pojok kiri atas
        sidebar. Berikut adalah tampilannya</p>
        
        <img src="/assets/img/help/admin/2.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas.</p>
        
        <ol>
          <li class="bold">Tombol <i>Toggle Heatmap/Hostpot</i></li>
          <p>Tombol ini digunakan untuk menampilkan tampilan tools yang
          bisa digunakan untuk melakukan filter heatmap/hotspot.</p>
          
          <li class="bold">Tombol <i>Toggle Sidebar</i></li>
          <p>Tombol ini digunakan untuk menampilkan/menyembunyikan
          sidebar.</p>
          
          <li class="bold">Area Map</i></li>
          <p>Bagian ini digunakan untuk menampilkan kerawanan
          kriminalitas secara visual dalam bentuk heatmap. Semakin
          mendekati merah berarti semakin rawan, semakin mendekati hijau
          berarti semakin tidak rawan.</p>
          
          <li class="bold">Filter Jenis Kriminalitas</li>
          <p>Filter ini digunakan untuk menentukan jenis kriminalitas
          yang akan diterapkan pada heatmap/hostpot.</p>
          
          <li class="bold">Filter Rentang Waktu Kejadian</li>
          <p>Filter ini digunakan untuk menentukan rentang waktu
          kejadian yang akan diterapkan pada heatmap/hostpot.</p>
          
          <li class="bold">Filter Bulan Kejadian</li>
          <p>Filter ini digunakan untuk menentukan bulan kejadian
          yang akan diterapkan pada heatmap/hostpot.</p>
          
          <li class="bold">Tombol untuk Menerapkan Filter</li>
          <p>Tombol ini digunakan untuk menerapkan filter yang telah
          ditentukan.</p>
          
          <li class="bold">Heatmap</li>
          <p>Area ini merupakan tampilan heatmap/hotspot yang sesuai
          dengan filter yang telah ditentukan.</p>
        </ol>
        
        <h3 class="w3-large" id="judul2sub1">a. Cara Melakukan Pem-<i>filter</i>-an Hasil</h3>
        <p class="paragraph">Untuk dapat melakukan pem-filter-an hasil,
        sidebar perlu dimunculkan terlebih dahulu apabila belum muncul.
        Caranya adalah dengan mengeklik tombol toggle sidebar yang
        berada pada pojok kiri atas area map.</p>
        
        <p class="paragraph">Setelah sidebar dan bagian hotspot/heatmap
        muncul, pem-filter-an bisa dilakukan dengan memilih jenis
        kriminalitas, rentang waktu kejadian, dan bulan kejadian sesuai
        kriteria. Setelah itu, tombol 'Terapkan' perlu diklik untuk
        menerapkan filter yang telah diatur.</p>
        
        <br>
        
				<h2 class="w3-xlarge w3-border-bottom" id="judul3">3. Fitur <i>Crime Meter</i></h2>
        <p class="paragraph">Fitur ini digunakan untuk mengetahui
        tingkat kerawanan suatu titik lokasi terhadap kriminalitas. Cara
        menuju fitur ini adalah dengan memilih 'Lihat Hotspot' pada Menu
        Bar, kemudian mengeklik area map. Secara default, fitur ini
        aktif saat suatu area pada map diklik. Apabila ada suatu
        interaksi yang mengakibatkan fitur ini mati pada halaman ini,
        cara mengaktifkannya kembali adalah dengan mengeklik icon bulat
        bertanda huruf 'i' yang ada pojok kiri atas sidebar. Berikut
        adalah tampilannya</p>
        
        <img src="/assets/img/help/admin/3.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas.</p>
        
        <ol>
          <li class="bold">Tombol <i>Toggle Crime Meter</i></li>
          <p>Tombol ini digunakan untuk menampilkan tampilan tools dan
          informasi yang bisa digunakan dalam fitur crime meter.</p>
          
          <li class="bold">Tombol <i>Toggle Sidebar</i></li>
          <p>Tombol ini digunakan untuk menampilkan/menyembunyikan
          sidebar.</p>
          
          <li class="bold">Area Map</li>
          <p>Bagian ini digunakan untuk menampilkan lokasi yang sedang
          diperiksa tingkat kerawanannya. Selain itu, visualisasi radius
          yang terukur beserta layanan publik yang terdekat dengan
          lokasi tersebut juga ditampilkan. Apabila titik lain dalam map
          diklik, aplikasi menghitung ulang tingkat kerawanan dan
          menampilkan data lokasi terdekat dan radius sesuai lokasi yang
          terakhit diklik tersebut.</p>
          
          <li class="bold">Kotak Pencarian</li>
          <p>Kotak pencarian bisa digunakan untuk mencari lokasi
          berdasarkan namanya. Cara menggunakannya adalah dengan
          mengetik beberapa huruf atau nama lokasi yang dicari, kemudian
          memilih opsi yang tersedia. Secara otomatis, aplikasi akan
          menghitung tingkat kerawanan, menampilkan radius, sekaligus
          menampilkan layanan publik yang paling dekat dengan titik
          lokasi tersebut.</p>
          
          <li class="bold">Toggle Informasi Kriminalitas</li>
          <p>Bagian ini bisa digunakan untuk meminimalkan atau
          menampilkan informasi kriminalitas sesuai lokasi yang
          sedang terpilih.</p>
          
          <li class="bold">Informasi Kriminalitas</li>
          <p>Bagian ini bisa digunakan untuk melihat informasi
          kriminalitas mengenai lokasi yang terpilih. Informasi yang
          ditampilkan adalah error penghitungan dan riwayat kejadian
          untuk tiap-tiap jenis kriminalitas yang telah diurutkan
          berdasarkan tingkat kerentanannya</p>
          
          <li class="bold">Radius Tingkat Kriminalitas</li>
          <p>Area ini merupakan tampilan radius yang digunakan oleh
          aplikasi untuk melakukan pengukuran.</p>
          
          <li class="bold">Icon Lokasi yang Diukur</li>
          <p>Icon berwarna merah pada peta ini menunjukkan lokasi yang
          sedang ditampilkan informasinya.</p>
          
          <li class="bold">Icon Fasilitas Terdekat</li>
          <p>Icon ini menampilkan lokasi fasilitas publik terdekat dari
          lokasi yang diukur yang sedang ditampilkan informasinya.</p>
          
          <li class="bold">Toggle Fasilitas Terdekat</li>
          <p>Bagian ini bisa digunakan untuk meminimalkan atau
          menampilkan informasi mengenai fasilitas publik terdekat
          berdasarkan lokasi yang terpilih.</p>
        </ol>
        
        <br>
        
				<h2 class="w3-xlarge w3-border-bottom" id="judul4">4. Fitur Pengaturan</h2>
        <p class="paragraph">Fitur pengaturan digunakan untuk mengubah
        password. Halaman ini bisa diakses dengan mengeklik icon user
        pada pojok kanan atas halaman mana saja, kemudian mengeklik
        'Pengaturan'. Berikut adalah tampilannya</p>
        
        <img src="/assets/img/help/admin/4.png" class="img-paragraph" />
        
        <p class="paragraph">Berikut adalah penjelasan singkat dari
        tampilan di atas</p>
        
        <ol>
          <li class="bold">Input Password</li>
          <p>Bagian ini digunakan untuk memasukkan password baru.</p>
          
          <li class="bold">Input Konfirmasi Password</li>
          <p>Bagian ini digunakan untuk memasukkan password baru sekali
          lagi. Ini dimaksudkan untuk memastikan Anda memasukkan
          password baru yang benar-benar diingat.</p>
          
          <li class="bold">Tombol Simpan</li>
          <p>Tombol ini digunakan untuk menyimpan password.</p>
        </ol>
        
        <p class="paragraph">Setelah semua data telah dimasukkan dengan
        benar, tombol simpan bisa digunakan untuk menyimpan password
        baru ke dalam server. Apabila proses berhasil, akan
        muncul dialog status bahwa operasi berhasil dilakukan.</p>
        <!-- Content end-->
			</div>

		</div>
		<!-- Content end -->
    
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 color-base w3-center">
			<p>2018 &copy; <b>CrimeGIS</b></p>
			<p class="w3-small">Template oleh <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
		</footer>
		
		<!-- Button kembali ke atas -->
		<a href="#">
			<button type="button" class="w3-button w3-circle w3-theme-d1 w3-card w3-hover-theme w3-xlarge" style="position:fixed;bottom:30px;right:30px">
				<i class="fa fa-arrow-up"></i>
			</button>
		</a>
	</body>
  
  <script>
			//~ Fungsi dari template
			function showNav() {
				var x = document.getElementById("menu-small");
				
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			function showMenu() {
				var x = document.getElementById("menu-dropdown");
				if (x.className.indexOf("w3-show") == -1) { 
					x.className += " w3-show";
				} else {
					x.className = x.className.replace(" w3-show", "");
				}
			}
		</script>
</html>
