<!DOCTYPE html>
<html>
	<head>
		<title>Dasbor | CrimeGIS</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/assets/css/w3.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/w3-theme.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="/assets/js/w3.js"></script>
	</head>
	
	<body class="color-base">

		<!-- Navbar -->
		<div class="w3-top">
			<div class="w3-bar color-accent w3-left-align">
				<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="showNav()"><i class="fa fa-bars"></i></a>
				<a href="/admin" class="w3-bar-item w3-button font-great-lakes w3-theme-d2 w3-hover-theme-d2">CrimeGIS</a>
				
				<div class="w3-dropdown-click w3-hide-small w3-right">
					<button class="w3-button w3-hover-theme" title="Menu" onclick="showMenu()">
						<i class="fa fa-user-circle-o"></i>
					</button>     
					
					<div id="menu-dropdown" class="w3-dropdown-content w3-card-4 w3-bar-block w3-animate-opacity" style="right:0">
						<div class="w3-bar-item">
							<span class="bold">{{ session.nama }}</span> <br>
							<span class="w3-small">Administrator</span>
						</div>
						<a href="/admin/pengaturan" class="w3-bar-item w3-button w3-hover-theme">Pengaturan</a>
						<a href="/admin/bantuan" class="w3-bar-item w3-button w3-hover-theme">Bantuan</a>
						<a href="/admin/logout" class="w3-bar-item w3-button w3-hover-theme">Logout</a>
					</div>
				</div>
				
				<a href="/admin/laporan" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Administrasi Laporan</a>
				<a href="/admin/hotspot" class="w3-bar-item w3-button w3-hide-small w3-hover-theme-d2 w3-right">Lihat Hotspot</a>
			</div>

			<!-- Navbar on small screens -->
			<div id="menu-small" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
				<a href="/admin/pengaturan" class="w3-bar-item w3-button">Pengaturan</a>
				<a href="/admin/bantuan" class="w3-bar-item w3-button">Bantuan</a>
				<a href="/admin/logout" class="w3-bar-item w3-button">Logout</a>
			</div>
		</div>

		<!-- Fill top -->
		<div class="w3-display-container color-base" style="height:39px;position:relative">
			&nbsp;
		</div>
		
		<!-- Overall Information -->
		<div class="w3-display-container w3-row">
			<a href="/admin/hotspot">
				<button class="w3-col l6 w3-theme-l1 w3-button w3-hover-theme w3-center w3-padding-64">
					<div class="w3-padding">
						<i class="fa fa-fire" style="font-size:24em"></i>
					</div>
					
					<div>
						<span id="" class="w3-jumbo"></span> <span class="w3-xlarge">Lihat heatmap/hotspot</span>
					</div>
				</button>
			</a>
			
			<a href="/admin/laporan">
				<button class="w3-col l6 w3-theme-l1 w3-center w3-button w3-hover-theme w3-padding-64">
					<div class="w3-padding">
						<i class="fa fa-file-text-o" style="font-size:24em"></i>
					</div>
					
					<div>
						<span id="jumlah-laporan" class="w3-jumbo bold"></span> <span class="w3-xlarge">laporan</span>
					</div>
				</button>
			</a>
		</div>

		<!-- Features Container -->
		<div class="w3-container w3-padding-48 w3-center" id="features">
			<h2>Heatmap dan Hotspot</h2>
			<p>Lihat heatmap dan hotspot kriminalitas terbaru</p>

			<div class="w3-row w3-padding">
				<div id="map-container" class="w3-margin w3-border" style="height:300px"></div>
				
<!--
				<div class="w3-margin-bottom w3-theme-light w3-round w3-theme-light w3-card w3-padding-large w3-leftbar color-accent-border" id="data2-empty-container" style="display:none">
					<p style="text-align:left">Belum ada data. Klik <a href="/admin/features/tambah">di sini</a> untuk menambahkan data baru.</p>
				</div>
-->
				
				<a href="/admin/hotspot">
					<button class="w3-button w3-margin w3-left color-accent w3-round color-accent-hover">
						Selengkapnya <i class="fa fa-arrow-circle-right" style="font-size:1em"></i>
					</button>
				</a>
				
			</div>
		</div>

		<!-- User Akun Container -->
		<div class="w3-container w3-padding-48 w3-center w3-theme-l1" id="laporan-kriminal">
			<h2>Laporan Kriminalitas</h2>
			<p>Laporan kriminalitas yang dikirimkan oleh administrator dan warga</p>

			<div class="w3-row w3-padding"><br>

				<table class="w3-table w3-margin-bottom w3-bordered w3-hoverable w3-striped" id="data-table-container" style="display:none">
					<thead class="color-accent">
						<tr>
							<th style="width:10%">No</th>
							<th style="width:30%">Pelapor</th>
							<th style="width:30%">Jenis</th>
							<th style="width:30%">Waktu</th>
						</tr>
					</thead>
					
					<tbody class="w3-theme-light" id="tabel-laporan"></tbody>
				</table>
				
				<div class="w3-margin-bottom w3-theme-light w3-round w3-theme-light w3-card w3-padding-large w3-leftbar color-accent-border" id="data-empty-container" style="display:none">
					<p style="text-align:left">Belum ada data. Klik <a href="/admin/laporan/tambah">di sini</a> untuk menambahkan data baru.</p>
				</div>

			</div>
			
			<div class="w3-row w3-padding">
				<a href="/admin/laporan">
					<button class="w3-button w3-margin w3-left color-accent w3-round color-accent-hover">
						Selengkapnya <i class="fa fa-arrow-circle-right" style="font-size:1em"></i>
					</button>
				</a>
				
				<a href="/admin/laporan/tambah">
					<button class="w3-button w3-margin w3-right w3-hover-theme w3-round w3-theme-d2">
						Tambahkan <i class="fa fa-plus-circle" style="font-size:1em"></i>
					</button>
				</a>
			</div>
		</div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 color-base w3-center">
			<p>2018 &copy; <b>CrimeGIS</b></p>
			<p class="w3-small">Template oleh <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
		</footer>

		<script>
			//Deklarasi variabel
			let map;
			let heatmap = [];
			
			//~ API GET
			function getTotalLaporan() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						fillTotalLaporan(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/jumlah/laporan-kriminal", true);
				xhttp.send();
			}
			
			function getLaporanList() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						fillLaporanList(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/dashboard/laporan-kriminal", true);
				xhttp.send();
			}
			
			function getHeatmap() {
				var xhttp = new XMLHttpRequest();

				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						fillHeatmap(JSON.parse(this.responseText));
					}
				};

				xhttp.open("GET", "/api/heatmap", true);
				xhttp.send();
			}
			
			function getNamaPelapor(idPelapor, container) {
				let url = "/api/user-account/" + idPelapor;
				let xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function() {
					if(this.readyState == 4 && this.status == 200) {
						let dataUser = JSON.parse(this.responseText);
						container.innerHTML = dataUser.nama;
					}
				};
				
				xhr.open("GET", url, true);
				xhr.send();
			}
			
			function getNamaKriminalitas(idJenisKriminalitas, container) {
				let url = "/api/jenis-kriminalitas/" + idJenisKriminalitas;
				let xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function() {
					if(this.readyState == 4 && this.status == 200) {
						let dataKriminalitas = JSON.parse(this.responseText);
						container.innerHTML = dataKriminalitas.jenis;
					}
				};
				
				xhr.open("GET", url, true);
				xhr.send();
			}
			
			//~ Content filler
			function fillTotalLaporan(jumlah) {
				document.getElementById("jumlah-laporan").innerHTML = jumlah;
			}
			
			function fillLaporanList(data) {
				if(data.length > 0) {
					show('data-table-container');
					
					let laporanListParent = document.getElementById("tabel-laporan");
					let nomor = 1;
					
					// Isi data
					data.forEach(function(datum) {
						// Deklarasi elemen
						let laporanRow = document.createElement("tr");
						let nomorContainer = document.createElement("td");
						let pelaporContainer = document.createElement("td");
						let jenisContainer = document.createElement("td");
						let waktuContainer = document.createElement("td");
						let nomorText = document.createTextNode(nomor);
						let waktuText = document.createTextNode(formatWaktu(datum.waktuKejadian));
						
						pelaporContainer.setAttribute("class", "capitalize");
						jenisContainer.setAttribute("class", "capitalize");
						
						// Gabungkan elemen
						nomorContainer.append(nomorText);
						waktuContainer.append(waktuText);
						laporanRow.append(nomorContainer);
						laporanRow.append(pelaporContainer);
						laporanRow.append(jenisContainer);
						laporanRow.append(waktuContainer);
						laporanListParent.append(laporanRow);
						
						getNamaPelapor(datum.idPelapor, pelaporContainer);
						getNamaKriminalitas(datum.idJenisKriminalitas, jenisContainer);
						
						nomor++;
					});
				} else {
					showBlock('data-empty-container');
				}
			}
			
			function fillHeatmap(data) {
				let hMap = [];
				
				data.forEach(function(datum) {
					let koordinat = datum.lokasi.replace("POINT(","").replace(")","").split(" ");
					
					hMap.push(
						new google.maps.LatLng(koordinat[1], koordinat[0])
					);
				});
				
				heatmap = new google.maps.visualization.HeatmapLayer({
					data: hMap,
					map: map
				});
			}
			
			//~ Fungsi untuk map
			function initMap(zoomSize=11,lat=-7.257472,lang=112.752088) {
				map = new google.maps.Map(document.getElementById('map-container'), {
					center: {lat: lat, lng: lang},
					zoom: zoomSize
				});
			}
			
			//~ Fungsi dari template
			function showNav() {
				var x = document.getElementById("menu-small");
				
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			function showMenu() {
				var x = document.getElementById("menu-dropdown");
				if (x.className.indexOf("w3-show") == -1) { 
					x.className += " w3-show";
				} else {
					x.className = x.className.replace(" w3-show", "");
				}
			}
			
			//Fungsi lain
			function formatWaktu(data) {
				let toReturn = "";
				let waktuTanggal = data.split(" ");
				let waktu = waktuTanggal[1].substr(0,5);
				let tanggal = waktuTanggal[0];
				
				toReturn = waktu + ", " + formatTanggal(tanggal);
				
				return toReturn;
			}
			
			function formatTanggal(data) {
				let toReturn = "";
				let tanggal = data.split("-");
				let bulan = formatBulan(parseInt(tanggal[1]));
				
				toReturn = parseInt(tanggal[2]) + " " + bulan + " " + tanggal[0];
				
				return toReturn;
			}
			
			function formatBulan(angka) {
				let namaBulan;
				
				switch (angka) {
					case 1:
						namaBulan = "Januari";
						break;
					case 2:
						namaBulan = "Februari";
						break;
					case 3:
						namaBulan = " Maret";
						break;
					case 4:
						namaBulan = "April";
						break;
					case 5:
						namaBulan = " Mei";
						break;
					case 6:
						namaBulan = "Juni";
						break;
					case 7:
						namaBulan = "Juli";
						break;
					case 8:
						namaBulan = "Agustus";
						break;
					case 9:
						namaBulan = "September";
						break;
					case 10:
						namaBulan = "Oktober";
						break;
					case 11:
						namaBulan = "November";
						break;
					case 12:
						namaBulan = " Desember";
						break;
					default:
						namaBulan = "Nama bulan tidak ditemukan!";
				}
				
				return namaBulan;
			}
			
			//~ Eksekusi fungsi
			getTotalLaporan();
			getLaporanList();
			getHeatmap();
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1YoEDpogXBPgONR9pcvWnasi2-gpmeDk&libraries=visualization&callback=initMap"></script>

	</body>
</html>
